**/*.zarr
**/__pycache__
**/.DS_Store
dcgm-gpu*.stats
logs/
wandb/
/saved_models
data/datastore.zarr
data/training
data/semaphore.lsm.created
machines/secrets.sh
/mlruns

# pixi environments
.pixi
*.egg-info
/my.db
/index.interior.json
/index.boundary.json
