/graph
/graphs
/datastore.boundary.zarr
/datastore.interior.zarr
/grid.zarr
/datastore.boundary.domain02.zarr
/datastore.interior.domain02.zarr
/datastore.interior.domain03.zarr
/datastore.boundary.domain03.zarr
